kumarsaionline/artifacts/s.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="feed">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entry" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            
                            <xs:element name="id" type="xs:string" minOccurs="0"/>
                            <xs:element name="title" type="xs:string" minOccurs="0"/>
                            <xs:element name="updated" type="xs:string" minOccurs="0"/>

                            <xs:element name="properties" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Id" type="xs:string" minOccurs="0"/>
                                        <xs:element name="Name" type="xs:string" minOccurs="0"/>
                                        <xs:element name="ResourceId" type="xs:string" minOccurs="0"/>
                                        <xs:element name="Description" type="xs:string" minOccurs="0"/>
                                        <xs:element name="ShortText" type="xs:string" minOccurs="0"/>
                                        <xs:element name="Version" type="xs:string" minOccurs="0"/>
                                        <xs:element name="Vendor" type="xs:string" minOccurs="0"/>
                                        <xs:element name="PartnerContent" type="xs:string" minOccurs="0"/>
                                        <xs:element name="UpdateAvailable" type="xs:string" minOccurs="0"/>
                                        <xs:element name="Mode" type="xs:string" minOccurs="0"/>
                                        <xs:element name="SupportedPlatform" type="xs:string" minOccurs="0"/>
                                        <xs:element name="ModifiedBy" type="xs:string" minOccurs="0"/>
                                        <xs:element name="CreationDate" type="xs:string" minOccurs="0"/>
                                        <xs:element name="ModifiedDate" type="xs:string" minOccurs="0"/>
                                        <xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>